@model List<MyWebstore.Models.ShoppingCart>

@{
    ViewData["Title"] = "Your Cart";
}

<h2>Here is your cart!</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
        @{

            decimal? sum = 0;

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreItem.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreItem.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreItem.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <div class="AmountDelete">
                            @using (Html.BeginForm("DeleteCartItem", "Webstore"))
                            {
                                @Html.DropDownListFor(c => item.Amount,
                                    Enumerable.Range(1, item.Amount).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                                <input id="cartItemId" name="cartItemId" type="hidden" value=@item.StoreItem.Id />
                                <input class="SubmitButton" type="submit" value="Delete" />
                            }
                        </div>
                    </td>
                </tr>

                sum = sum + (item.Amount * item.StoreItem.Price);
            }

            <tr>
                <td>
                    <b>Total</b>
                </td>
                <td>
                </td>
                <td>
                    <b>@sum &#128;</b>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm("CartCheckout", "Webstore")) {
    
}
<input class="CheckoutButton" type="submit" value="Checkout" />
<br/><br/>
<div>
    <a asp-action="Index">Back to the Shop</a>
</div>
