@model MyWebstore.Models.StoreViewModel

@{
    ViewData["Title"] = "Webshop";
}

<h2>Details about @Model.StoreItem.Title</h2>
<br/>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="@Model.StoreItem.Title" class="control-label"></label>
            <input asp-for="@Model.StoreItem.Title" class="form-control" disabled />
            <span asp-validation-for="@Model.StoreItem.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.StoreItem.Description" class="control-label"></label>
            <input asp-for="@Model.StoreItem.Description" class="form-control" disabled />
            <span asp-validation-for="@Model.StoreItem.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.StoreItem.Price" class="control-label"></label>
            <input asp-for="@Model.StoreItem.Price" class="form-control" disabled />
            <span asp-validation-for="@Model.StoreItem.Price" class="text-danger"></span>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to the Shop</a>
</div>